<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=xxx.mssql.somee.com;
                           Database=xxx;
                           User Id=xxx;
                           Password=xxx;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

</configuration>
