<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=dbSinhVien.mssql.somee.com;
                           Database=dbSinhVien;
                           User Id=lthuyentrang_SQLLogin_1;
                           Password=kpqx7relco;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

</configuration>
